---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About the proyect">
  <section>
    <h1 class="text-white text-center text-2xl font-bold my-5">
      ARCHIEVEMENTS
    </h1>
    <hr />
    <article class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 mt-10">
      <div>
        <img src="/img/figma.png" />
      </div>
      <div>
        <img src="/img/entorno-macos.png" />
      </div>
      <div>
        <img src="/img/finanzas-descentralizadas.png" />
      </div>
      <div>
        <img src="/img/frontend-dev-practico.png" />
      </div>
      <div>
        <img src="/img/grid-layout.png" />
      </div>
      <div>
        <img src="/img/intro-defi.png" />
      </div>
      <div>
        <img src="/img/intro-design.png" />
      </div>
      <div>
        <img src="/img/javascript.png" />
      </div>
      <div>
        <img src="/img/maquetacion-css.png" />
      </div>
      <div>
        <img src="/img/mobile-first.png" />
      </div>
    </article>
  </section>
</Layout>
