---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About the proyect">
  <section>
    <h1>Certificates</h1>
    <hr />
    <article class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
      <div>
        <img src="../../public/figma.png">
      </div>
      <div>
        <img src="../../public/entorno-macos.png">
      </div>
      <div>
        <img src="../../public/finanzas-descentralizadas.png">
      </div>
      <div>
        <img src="../../public/frontend-dev-practico.png">
      </div>
      <div>
        <img src="../../public/grid-layout.png">
      </div>
      <div>
        <img src="../../public/intro-defi.png">
      </div>
      <div>
        <img src="../../public/intro-design.png">
      </div>
      <div>
        <img src="../../public/javascript.png">
      </div>
      <div>
        <img src="../../public/maquetacion-css.png">
      </div>
      <div>
        <img src="../../public/mobile-first.png">
      </div>
    </article>
  </section>
</Layout>