---
import Layout from "../layouts/Layout.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHubPill.astro";
import EmailIcon from "../components/icons/Email.astro";
import MainProjects from "../components/MainProjects.astro";
import ScrollSpyIndex from "../components/ScrollSpyIndex.astro"
---

<Layout
  title="Ellaggon portfolio ready for launch"
  description="Contrata a Ellaggon para crear aplicaciones y paginas web que esten enfocadas en el cliente final para una experiencia prime"
>
  <ScrollSpyIndex />
  <section
    class="h-full w-100 p-3 md:my-28 rounded-xl opacity-80 section"
    id="section-1"
  >
    <article class="h-50 mb-8 lg:mb-16">
      <p class="text-3xl">游游엃릖뻟릖</p>
      <h1 class="text-2xl lg:text-3xl text-white font-bold mt-10 md:mt-0 md:mb-3">
        HEY, SOY ELLAGGON
      </h1>
      <h2 class="text-xl lg:text-2xl text-balance max-w-[700px]">
        <span class="text-cyan-500"
          >Desarrollador Web especializado en crear sitios web din치micos y sofisticados para diferentes tipos de clientes.</span
        >
        <span class="text-gray-400 mt-3"
          >con 2 a침os de experiencia creando aplicaciones y proyectos propios.</span
        >
      </h2>
    </article>
    <article class="flex flex-wrap justify-end gap-3">
      <SocialPill href="https://www.linkedin.com/in/ellioth-aguirre-16a68727a/">
        <LinkedInIcon class="size-6" />
        LinkedIn
      </SocialPill>
      <SocialPill href="https://github.com/Ellaggon">
        <GitHubIcon class="size-6" />
        GitHub
      </SocialPill>
      <SocialPill href="mailto:ellioth.aguirre@gmail.com">
        <EmailIcon class="size-6" />
        ellioth.aguirre@gmail.com
      </SocialPill>
    </article>
  </section>

  <section class="my-20 section" id="section-2">
    <h1 class="text-white text-center text-2xl font-bold my-5">
      PROYECTOS PRINCIPALES
    </h1>
    <MainProjects />
  </section>

  <section
    class="relative h-full max-w-[1020px] overflow-hidden rounded-xl section mt-20 pb-40"
    id="section-3"
  >
    <img
      src="https://i.imgur.com/6okGN4n.jpg"
      alt="img-about"
      class="absolute bottom-20 w-full rounded-xl -z-10 img-blurred"
    />
    <div class="h-80 w-100 mx-auto text-gray-300 text-center mt-10 mb-5 lg:mb-16 flex flex-col gap-5 p-3 text-pretty">
      <h2 class="text-white text-3xl font-bold mt-5">SOBRE MI</h2>
      <p class="text-gray-400">Frontend Developer</p>
      <p class="mt-5">
        Mi nombre es Ellioth Aguirre, soy Ingeniero en Administracion de Empresas, comence en el mundo de la programaci칩n hace 2 a침os, a lo que rapidamente sabia que cambiaria mi ruta de estudio. 
      </p>
      <p>
        Para poder pagar mis estudios trabaje como guardia de seguridad, Soy boliviano, actualmente trabajo para la Municipalidad de Alto Hospicio - Chile, donde radico hace 10 a침os. 
      </p>
      <p>
        Estudiante activo de Platzi con varias <a href="/certificates" class="text-yellow-500 hover:underline">certificaciones</a> en el 치rea Front-End y Backend. Mi objetivo es proporcionar una experiencia PRIME a los usuarios finales en todo proyecto en el cual participe. 
      </p>
    </div>
  </section>
</Layout>

<style>
  .img-blurred {
    mask-image: radial-gradient(circle at top left, transparent 0%, black 100%);
  }
</style>
