---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio to Launcher">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="text-white text-6xl font-bold mt-10 md:mt-0">Ellioth Aguirre</h2>
    <p class="text-gray-400 mt-3">Frontend Developer </p>
  </div>
</Layout>

