---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';

const allPosts = await Astro.glob("../content/*.md");
---

<Layout title="Portfolio to Launcher.">
  <div class="grid grid-cols-1 gap-8 lg:grid-cols-3 lg:gap-8">
  { allPosts.map((el) => 
  <Card 
    title={ el?.frontmatter.title }
    time={ el?.frontmatter.pubDate }
    tags={ el?.frontmatter.tags }
  />) }
  </div>
</Layout>

