---
export interface Props {
  title: string;
  time: string;
  tags: string[];
}

const { time, title, tags } = Astro.props;
---

<a href="/" class="relative group block bg-black">
  <img
    alt="Art"
    src="https://images.unsplash.com/photo-1605721911519-3dfeb3be25e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
    class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
  />

  <div class="relative p-4 sm:p-6 lg:p-8">
    <p class="text-sm font-medium uppercase tracking-widest text-gray-300">
      { time }
    </p>
  
    <p class="text-xl font-bold text-white sm:text-2xl">{ title }</p>
  
    <div class="mt-32 sm:mt-48 lg:mt-64">
      <div
        class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
      >
        { tags }
      </div>
    </div>
  </div>
  
</a>
