
<footer class="text-gray-400 text-center my-10">
  <span>
    <small>© Ellaggon 2024. Casi todos los derechos reservados.</small>
    <p>Tomando inspiración del sitio: <a href="https://animated-churros-60739d.netlify.app/" target="_blank" class="hover:underline text-cyan-500">Midu Portfolio</a></p>
  </span>
  <ul class="flex justify-center gap-5 mt-3">
    <li>
      <a href="/#" class="hover:underline hover:text-cyan-500">Sobre mi</a>
    </li>
    <li>
      <a href="/#" class="hover:underline hover:text-cyan-500">Contacto</a>
    </li>
  </ul>
</footer>