<div class="
  inline-flex flew-row justify-center items-center 
  text-white text-center font-medium 
  bg-opacity-60 opacity-70 hover:opacity-100 hover:bg-slate-700 
  rounded-lg cursor-pointer 
  px-3 py-2.5 z-20
  focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 dark:focus:ring-[#1da1f2]/55
  hover:shadow-lg hover:scale-90
  transition">
  <slot name="before" />
    <slot />
  <slot name="after" />
</div>
