---

---

<article class="relative w-full">
  <nav
  class="hidden fixed lg:right-10 xl:right-28 lg:flex flex-col max-w-48 px-2 text-white"
  id="enlaces"
  >
  <h1 class="mb-10 text-sm">EN ESTA PAGINA</h1>
    <a
      href="#section-1"
      class="py-2 hover:underline text-gray-400"
      data-scroll-spy
      data-astro-history="push">Presentación</a
    >
    <a
      href="#section-2"
      class="py-2 hover:underline text-gray-400"
      data-scroll-spy
      data-astro-history="push">Proyectos</a
    >
    <a
      href="#section-3"
      class="py-2 hover:underline text-gray-400"
      data-scroll-spy
      data-astro-history="push">Sobre mi</a
    >
  </nav>
</article>
<style>
  nav .activo{
    color: #E9B40A;
  }
</style>
